body{

  font-family: Arial, Helvetica, sans-serif;
  background-color: #F9F9F9;
  padding-top: 0px;

}

.main-container{
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  background-color: #ffffff;
  width: 100%;
  margin-top: 0px;
  padding: 13px 0px 9px 0px;
  margin-bottom: 10px;
}
.main-container .logo{
  padding-left: 20px;
}


.main-container .logo .menu-logo{
  height: 20px; 
  margin-top: 5px; 
  margin-right: 15px;
}

.main-container .logo .ulogo{
  height: 32px;
 
}

.main-container .logo .main-logo {
  display:inline-flex; 
  height: 35%; 
  margin: 7px;

}

div.search-box{
  margin: 0 auto; 
  margin-top: 5px;

}

.plus{
  margin-top: 7px;
}

.main-container > div:nth-child(3){
  margin-left: auto;
}

.search-container{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

.search-container div{
  display: inline-flex;
  width: 80px;
  min-height: 30px;
  justify-content: center;
}

.search-bar{
  width: 90%;
  min-width: 550px;
  padding-left: 10px;
  margin-left: 190px;
  border: 1px solid rgb(200,200,200);
}

.search-button{
  width: 10%;
  min-width: 50px;
  padding: 0%;
  margin:0%;
  border: 1px solid rgb(200,200,200);
  border-left: transparent;
}

.grid-container {
  margin: 0 auto;
  width: 1010px;
  display: grid;
  grid-template-areas:
    'header header header header header menu'
    'right right main main main menu'
    ;
  
  background-color:#f9f9f9;
  padding: 0px;
}

.item-list{
  display: flex;
  justify-content: space-evenly;
  width: 230px; 
}

.align-img{
  margin-top: 5px;
}

.thumbnail{
  margin-right: 7px;
}

